<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat-Da-Burger</title>
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

	<link rel="stylesheet" href="../../assets/css/style.css" type="text/css" />
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
 <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>Capture
            <span class="em-text">Life</span>
            </span>
          </h1>
          <p>A fun and easy way to capture & share the moments you live for</p>
          {{!-- <a href="#">
            <img class="app-btn" src="img/icon_app_store.png">
          </a>
          <a href="#">
            <img class="app-btn" src="img/icon_google_play.png">
          </a> --}}
        </div>
        <div class="col-lg-6">
          <img class="showcase-img" src="../../assets/images/burger4.jpg">
        </div>
      </div>
    </div>
  </div>

	{{{ body }}}

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>

</html>