$very-dark-grey: #555;
$very-light-grey: #e7e7e7;
$dark-cyan: #1caa98;
$very-dark-blue: #1b222a;

.jumbotron {
    background: $dark-cyan;
    color: white;
    height: 500px;
    overflow: hidden;
};